<html>
<head>
<title>Login to DoD</title>
  
</head>
<body>
</body>
<center>
<h1>
	<br>
	<hr>
	<hr>
   		Welcome to DoD Automation
	<hr>
	<br>
	<br>
	<br>
</h1>
<h4>
	Please registered with us for trading automation system solution.
	<br>
	<br>
	For More details and system registrations, <br>
	<br>
	contact to dodfno@gmail.com / @dodfno at Telegram.
	<br>
</h4>
<h3>
	<br>

   	<a href="https://kite.trade/connect/login?api_key=qedv3sswnde4220a&v=3">Login with DoD Automations</a>
</h3>

</center>
</html>
</body>
</html>
