<html>
<head>
    <title>Login to DoD</title>
</head>
<body>
<center>
    <h1>
        <br>
        <hr>
        <hr>
        Welcome to DoD Automation
        <hr>
        <br><br><br>
    </h1>
    <h4>
        Please register with us for the trading automation system solution.
        <br><br>
        For more details and system registrations,
        <br><br>
        contact dodfno@gmail.com / @dodfno on Telegram.
        <br>
    </h4>
    <h3>
        <br>
        {% if kite_login_url %}
            <a href="{{ kite_login_url }}">Login with DoD Automations</a>
        {% else %}
            Login is temporarily unavailable because server credentials are not configured.
        {% endif %}
    </h3>
</center>
</body>
</html>
